node_modules/

# Artifacts
build/
bin/
coverage/
coverage.json
typechain-types/
artifacts/
cache/
docgen/
flat/

# Local deployment records
deployments/hardhat.json
deployments/localhost.json

# IDEs
.idea/
.vscode/

# NPM
gas-report
/bin/
