node_modules/

# Artifacts
build/
bin/
coverage/
coverage.json
typechain-types/
artifacts/
cache/
docgen/
flat/

# Local deployment records
deployments/31337/
deployments/dry-run/

# IDEs
.idea/
.vscode/

# NPM
gas-report
/bin/
